SECRET_KEY=votre-cle-secrete-ici
DEBUG=True
DB_NAME=eduai_cameroun
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
OPENAI_API_KEY=sk-votre-cle-openai-ici
ALERT_EMAIL=admin@eduai.cm
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=votre@gmail.com
EMAIL_HOST_PASSWORD=votre-mot-de-passe-app
